.GenelBilanco{
    width: 100vw;
    height: calc( 100vh - 72px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.GenelBilanco-container{
    width: 80%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-weight: 500;
  }
.bilanco_table{
    width: 100%;
}

.table-title{
    background-color: tomato;
    color: white;
    font-size: 1.2em;
}
.header-row{
    background-color: blue;
    color: white;
}
.table-body{
    text-align: center;
    background-color: wheat;
}