.Detay{
    width: 100vw;
}
.popup-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-inner{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}
.close-button{
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    background-color: red;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
}
.popup-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.popup-adet, .popup-price, .popup-date{
    margin-left: -350px;
}
.adet-input, .price-input, .date-input{
    height: 40px;
    width: 70%;
    border: 1px solid black;
}
.popup-title{
    color: slategrey;
}
.DetayContainer{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
.alim-detay-table{
    width: 60%;
}
.table-title{
    background-color: tomato;
    color: white;
    font-size: 1.2em;
}
.header-row{
    background-color: blue;
    color: white;
}
.table-body{
    text-align: center;
    background-color: wheat;
}
.bedelli-detay-table{
    width: 59%;
}
.genel-detay-table{
    width: 90%;
}
.genel-detay-table-title{
    background-color: rgb(82, 158, 82);
    color: white;
    font-size: 1.2em;
}
.icons-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.icon{
    cursor: pointer;
}
button{
    border: none;
    background-color: transparent;
}

.kar{
    background-color: rgb(82, 158, 82);
    color: white;
}
.zarar{
    background-color: tomato;
    color: white;
}
.edit-button{
    background-color: yellowgreen;
    color: white;
    font-weight: bold;
    width: 30%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
}