.register-container{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(255,255,255,0.5),
    rgba(255,255,255,0.5)), 
    url("https://images.pexels.com/photos/999309/pexels-photo-999309.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") 
    center;
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.register-wrapper{
    width: 25%;
    padding: 20px;
    background-color:white;
    border-radius:10px;
}
.register-title{
    font-size: 24px;
    font-weight: 300;
    text-align:center;
}
.register-form{
    display: flex;
    flex-direction:column;
}
.register-form>input{
    flex:1;
    min-width:40%;
    margin: 10px 0px;
    padding: 10px;
}
.register-btn{
    width: 100%;
    border:none;
    padding: 15px 20px;
    cursor: pointer;
    background-color:green;
    color:white;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}
.error{
    font-size: 12px;
    color: red;
    text-align: center;
}