.SatisGirisi{
    width: 100vw;
    height: 100vh;
}

.satisgirisi-container{
    height: 80%;
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(233, 221, 198);
    margin-top: 4em;
    border-radius: 10px;
}
.title{
    margin: 40px 0 20px 0;
    font-weight: 400;
}
.satisgirisi-form{
    display: flex;
    flex-direction: column;
    width: 250px;
}
label{
    text-align: left;
    margin: 20px 0 10px 0;
    color: rgb(101, 104, 109);
}
.satisgirisi-select{
    width: 250px;
    height: 30px;
    font-size: 12px;
    font-weight: 500;
    background-color: yellow;
    border-radius: 10px;
    border: none;
    padding: 0 20px;
}
input{
    line-height: 30px;
    margin: 5px 0;
    border-radius: 10px;
    border: none;
    padding: 0 20px ;
}
input:focus{
    outline: none;
}

.satisgirisi-button{
    padding: 5px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    background-color: rgb(30, 180, 30);
    cursor: pointer;
    font-weight: 500;
    font-size: 1.3em;
    color: honeydew;
}
